<!DOCTYPE html>
<div class="container">
    <!-- Header/Breadcrumbs  -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Me
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">About Me</li>
            </ol>
        </div>
    </div>
    <!-- About Me  -->
    <div class="row">
        <div class="col-md-10">
            <h2>Hi, I'm Umar.</h2>
            
            <p>Thanks for visiting. I'm a software engineer currently working for Tata Consulatancy Services. 
                Before that I went to Indiana University for a bachelors in computer science. During that time
                I was a Computer Science/Math tutor. I really enjoyed working with students and figuring out 
                the best way to explain tricky concepts. I'm always ready to teach others what I know.
            </p><p>
                I enjoy working with all types of technology and am always eager to learn whatever is new. Most 
                of the time I enjoy working on android games as you can see from my projects page, but I also 
                love working with databases. I'm always looking for opportunities to collaborate with people, 
                since having the extra perspective and motivation is worth a lot.
            </p><p>
                When I'm not busy working or programming, I enjoy cooking and playing board games. I mostly enjoy
                social games that really show you who your friends are. When I'm cooking I usually make spicy food, 
                and I also make my own beef jerky regularly. I also like spending time with friends and family, but 
                who doesn't!
            </p><p>
                Thanks again for visiting my site. If you want to contact me feel free to use the link in the
                navigation bar and I'll get back to you. Have fun looking around.
            </p>
        </div>
        <div class="col-md-2">
        <img class="img-responsive" src="UmarAlkotob.png" alt=""> 
        </div>
    </div>
    
</div>
