<!DOCTYPE html>
<div class="container">
    <!-- Header/Breadcrumbs  -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact Me
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li class="active">Contact Me</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <form name="contactForm" ng-submit="submitForm(contactForm.$valid)" action="https://formspree.io/umaralkotob@gmail.com" method="POST" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid && !contactForm.name.$pristine }">
                    <label>Name*</label>
                    <input type="text" name="name" class="form-control" ng-model="user.name" required>
                    <p ng-show="contactForm.name.$invalid && !contactForm.name.$pristine" class="help-block">You name is required.</p>
                </div>
            
                <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
                    <label>Email*</label>
                    <input type="email" name="email" class="form-control" ng-model="user._replyto">
                    <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email.</p>
                </div>
                    
                <div class="form-group" ng-class="{ 'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine }">
                    <label>Message*</label>
                    <textarea rows="10" cols="100" class="form-control" ng-model="user.message" id="message" name="message" maxlength="999" style="resize:none" required></textarea>
                    <p ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" class="help-block">Your message is required</p>
                </div>

                <input type="hidden" name="_next" value="#/thanks" />

                <button type="submit" ng-disabled="contactForm.$invalid" class="btn btn-default">Submit</button>
            </form>
        </div>        
    </div>
</div>