<div class="container">
    <!-- Header/Breadcrumbs  -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{tutorials[tutorialID].name}}
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a></li>
                <li><a href="#/tutorials">JavaScript Tutorials</a></li>
                <li class="active">{{tutorials[tutorialID].name}}</li>
            </ol>
        </div>
    </div>

    <!-- Tutorial Item -->
    <div class="row">

        <div class="col-lg-8" ng-bind-html="to_trusted(tutorials[tutorialID].content)"></div>
    
        <div class="col-lg-4">
            <div class="well">
                <h4>All Tutorials</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li ng-repeat ="tutorial in tutorials track by $index">
                                <a href="#/tutorials/{{$index}}/{{tutorial.name.split(' ').join('_')}}">{{tutorial.name}}</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>